/* cards */
.custom-card {
  margin: auto;
  width: 90%;
  min-height: 11rem;
  border-radius: 0.7rem;
  background: var(--inline-color);
  box-shadow: 4px 4px 15px rgba(#000, 0.15);
  position: relative;
  color: #434343;
}
.custom-card .custom-card__container {
  padding: 3.5rem 2rem 0.5rem 2rem;
  min-height: 12rem;
  background: var(--card-color);
  box-shadow: var(--main-box-shadow);
  border-radius: 0.4rem;
  position: relative;
}

.custom-card::before {
  position: absolute;
  top: 1.3rem;
  left: -0.7rem;
  content: "";
  background: var(--logo-main-color);
  height: 28px;
  width: 28px;
  transform: rotate(45deg);
}

.custom-card::after {
  position: absolute;
  content: attr(data-label);
  white-space: nowrap;
  /* height: 16px; */
  top: 0.5rem;
  left: -14px;
  padding: 0.3rem 0.4rem 0.3rem 2rem;
  min-width: 20rem;
  background: var(--logo-main-color);
  color: var(--inline-color);
  box-shadow: var(--main-box-shadow);
  box-sizing: content-box;
}
.custom-card a {
  display: inline-block;
  transition: all 0.01s ease;
  line-height: 1.8rem;
  padding: 0.1rem 0rem;
}
.custom-card a:hover {
  text-decoration: none;
  transform: scale(1.01);
}
/* end cards */

/* adaptive-table */
.table-adaptive-wrap {
  width: 100%;
  display: inline-block;
  background-color: #fff;
}

.table-adaptive {
  border: 1px solid #ccc;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-adaptive .tr {
  border: 1px solid #ddd;
  padding: 5px;
}

.table-adaptive .th, .table-adaptive .td {
  padding: 5px;
  text-align: center;
  border-right: 1px solid #ddd;
}
.table-adaptive .th:nth-child(2),
.table-adaptive .td:nth-child(2){
  text-align: left;
}

.table-adaptive .th {
  color: #fff;
  background-color: #444;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 990px) {
  .table-adaptive {
    border: 0;
    width: 100%;
  }

  .table-adaptive .thead {
    display: none;
  }

  .table-adaptive .tr {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-bottom: 2px solid #ddd;
  }

  .table-adaptive .td {
    display: block;
    text-align: right !important;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid transparent;
  }

  .table-adaptive .td:last-child {
    border-bottom: 0;
  }

  .table-adaptive .td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}

/* end adaptive-table */
.firstcenter td:first-child{
  text-align: center;
}


#mainlogo {
  position: absolute;
  left: 4px;
  top: 2px;
  /* width:110px; */
  height: 43px;
  border: 0px;
  z-index: 1;
  transition: all 0.01s ease;
  /* box-shadow: var(--main-box-shadow); */
}
#mainlogo:hover {
  transform: scale(1.02);
}
#mainlogo img {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
#header_block {
  height: 47px;
  margin-bottom: 20px;
  background: var(--logo-main-color);
  box-shadow: var(--main-box-shadow);
}
#page_title {
  color: var(--inline-color);
}

/*
  background: -ms-linear-gradient(left,  #228,  #77e);
  background: -moz-linear-gradient(left, #228,  #77e);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#228), to(#77e));
*/

/* buttons */

.button {
  margin: 0 !important;
  color: var(--inline-color);
  background-color: var(--logo-main-color);
  border-color: var(--logo-main-color);
  padding: 0.1rem 0.3rem;
  font-size: 11px;
  border-radius: 0.15rem;
}
.button:focus{
  color: var(--inline-color);
  background-color: #00a4b2;
}
.button:active:focus {
  box-shadow: 0 0 0 0.1rem rgba(49, 132, 253, 0.5);
}
.button:disabled{
  border-color: #6c757d;
}
input[disabled="disabled"]{
  background-color: #62b6cb;
  border-color: #62b6cb !important;
  color: var(--inline-color);
  opacity: 0.65;
}

.button:hover:enabled {
  cursor: pointer;
  color: var(--inline-color);
  background-color: #00b4c2;
  border-color: #00b4c2;
}

.redbutton {
  border: 1px solid #a44;
  background-color: #fbb;
  color: #400000; font: normal 11px Verdana,Helvetica,Arial,sans-serif !important;
  box-shadow:2px 1px 1px rgba(80,80,80,0.8);
}

/* pagination */

.custom-page-link {
  padding: 0.4rem 0.55rem;
  color: var(--logo-main-color);
  background-color: var(--inline-color);
  border: 1px solid var(--main-border-color);
  cursor: pointer;
}

.custom-page-link:hover {
  color: #0056b3;
  background-color: #e9ecef;
  border-color: var(--main-border-color);
}
.custom-page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-page-link.pagelnka {
  color: var(--inline-color);
  background-color: var(--logo-main-color);
  border-color: var(--logo-main-color);
}

tr > .custom-page-link ~ .custom-page-link {
  border-radius: 0;
}
tr > .custom-page-link {
  border-radius: 0.3rem 0rem 0rem 0.3rem;
}
tr > .custom-page-link:last-child {
  border-radius: 0rem 0.3rem 0.3rem 0rem;
}
/* pagination end */


/* my changes in table */
/* table {
  border-spacing: 0;
} */
/* table end */

.two-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* height: 100%; */
}
.two-row label {
  width: 45%;
}

.ui-icon {
  margin: auto;
}
.ast-td-int {
  padding-right: 5px;
  text-align: right;
}

fieldset {
  margin: 1rem 0 0.5rem 0;
  padding: 4px;
  border-radius: 5px;
  /* box-shadow: 3px 5px 8px 3px #1b1f3b29; */
  border: 0;
  border: 1px solid var(--main-border-color);
  /* width: 100%; */
}
fieldset.mainpage {
  min-height: 80px;
}

legend {
  /* font-size: 1.4rem; */
  font-weight: 600;
  color: var(--legend-color);
}
.bordered {
  border: 1px solid var(--main-border-color);
  border-radius: 3px;
}

/* tabs */

.tabdisabled {
  color: #8d99ae;
  background-color: #cce;
}

.proppages {
  padding: 0.5rem;
  border-radius: 0px 0px 5px 5px;
  background: var(--inline-color);
  border: 1px solid var(--main-border-color);
  border-top: transparent;
}

.custom-nav {
  color: #495057;
}

.custom-nav td {
  margin-bottom: -2px;
  background: 0 0;

  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: bold;

  padding: 0.4rem 0.7rem;
  text-decoration: none;
  border-bottom: 1px solid var(--main-border-color);
}

.custom-nav .tblactive {
  color: var(--logo-main-color);
  background-color: var(--inline-color);
  border-color: var(--main-border-color) var(--main-border-color) var(--inline-color);
}
.custom-nav .tblinactive {
  border-color: #a9cccf #a9cccf var(--main-border-color) #a9cccf;
  background: #dee2e6;
}

.tblactive,
.tblinactive {
  white-space: nowrap;
  cursor: pointer;
}

.custom-nav .tblactive:focus,
.custom-nav .tblinactive:focus,
.custom-nav .tblactive:hover {
  color: black;
  isolation: isolate;
}
.custom-nav .tblinactive:hover {
  color: black;
}

/* ---------------- */
.nav-y{
  padding: 0 0 0 0.2rem;
  background-color: #dee2e6;
}

/* vertical tabs in property sheet - VTABS */
.nav-y td{
  font-weight:bold; text-align:right; vertical-align:middle;
  cursor:hand; cursor:pointer;
  margin-right: -1px;
  background: 0 0;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--main-border-color);
  border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px;
  font-weight: bold;
  padding: 0.3rem 1rem 0.3rem 0.5rem;
  text-decoration: none;
  border-right: 1px solid var(--main-border-color);
  white-space: nowrap;
  /* color: white; */
}

.nav-y .tblactive_v {
  color: var(--logo-main-color);
  background-color: #FFF;
  border-color: var(--main-border-color) #FFF var(--main-border-color) var(--main-border-color);
}
.nav-y .tblinactive_v:hover {
  color: var(--logo-main-color);
  background-color: #FFF;
}
/* tab end */

.div_outline {
  margin: 0 auto;
  box-shadow: 3px 5px 8px 5px #1b1f3b29;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

td.area-buttons {
  padding: 10px;
}
.area-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem 0.2rem;
}
.row-end{
  justify-content: flex-end;
  gap: 0.6rem 0.2rem;
  display: flex;
  flex-grow: 1;
}
.font-11{
  font: normal 11px tahoma,helvetica,arial;
}

.toggle-right{
  position: relative;
}
.toggle-right > div{
  position: absolute;
  right: 0;
}


/* jq ui */

.floatwnd{
  background: var(--inline-color);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.3rem;
  padding: 0;
}

.ui-widget-header{
  border-bottom: 1px solid var(--main-border-color);
  border: none;
}

.ui-jqgrid-btable{
width: 100%;
}
.ui-draggable{
  background: var(--inline-color);
}

.ui-state-default{
  background-color: var(--inline-color);
}

.ui-widget-content .ui-state-default{
  background: #caf0f8;
}

.ui-dialog-buttonset button {
  padding: 2px 10px;
  border: 1px solid #c5dbec;
  border-radius: 3px;
  background: var(--logo-main-color) !important;
  color: var(--inline-color) !important;
}

.ui-button, .ui-icon{
  border-radius: 3px;
}

.ui-dialog .ui-dialog-buttonpane{
  background-color: rgba(0, 0, 0, 0.03);
}
.ui-dialog{
  padding: 0;
}

/* jq ui end */

.darkhead {
  color: var(--logo-second-color);
  color: #000;
  text-align: left;
  padding: 0.5rem 0.7rem;
  font: bold 12px verdana, tahoma, arial;
}
.dark {
  background: var(--dark_color);
  color: #fff;
  text-align: center;
  padding: 0.5rem 0.7rem;
  font: bold 12px verdana, tahoma, arial;
}
.dark a { color:#fefeff; }
.darkzetta {
  background-color: var(--logo-main-color); color: #fff;
  text-align: center;
  padding: 0.2rem;
  margin-botttom:10px;
  font: bold 12px verdana, tahoma, arial;
}
.with-background {
  background-color: #003566;
  color: var(--inline-color);
  border-radius: 2px;
}

.bounded { background-color: #dcdcdc;
  vertical-align:top;
  font-weight: bold; font-size:12px; padding: 4px 4px;
}

/* ul.dropdown li, ul.dropdown ul li{
  border-radius: 1px;
  border: 1px solid #e6e6e9;
} */

/* change this code  */
#as_propsheet_webadmpanel{
  max-width: 800px;
}
.insrtrsameaddr { padding-top:8px; }
/* .as_propsheet_propsheet2 { margin: 0.3rem; padding: 0.3rem; } */
tr.rskspecial { margin-bottom: 10px; }
tr.rskspecial td { background-color: #C7F2F6; }
.calc_uw { position:absolute; padding:8px; }

/* sizing */

.w-600{max-width: 600px;}
.w-800{max-width: 800px;}
.w-90{width: 90%;}
.w-30{width: 30%;}
.w-10{width: 10%;}

.maxh600{max-height: 600px;}
.h300{height: 300px;}

.minh100{min-height: 100px;}
.minh120{min-height: 120px;}
.minh150{min-height: 150px;}

/* change alliance_fo */

@media (max-width: 992px) { 
  #content{
    padding: 0;
  }

  #content .center {
    width: 100%;
    float: none;
  }
  .main_row .left{
    top: 7px;
    right: 170px;
    position: fixed;
    z-index: 9999999;
  }

  #content .left{
    width: 100%;
  }

  .main__header .left{
    display: block;
    position: absolute;
    top: 55px;
    left: 0;
    right: 36px;
    background: #fefeff;
    box-shadow: 0 4px 2px -2px rgba(36,36,36,0.37);
    width: 100%;
    transition: all 0.4s ease;
    left: -100%;
  }
  .main__header .left .menu{
    padding: 0;
    display: block;
    position: relative;
    z-index: 2;
    margin: 0;
  }
  .left.open-menu{
    left: 0;
  }
  .burger_header{
    position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
  }
  .burger_header span, .burger_header::after, .burger_header::before{
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }
  .burger_header span{
    top: 16px;
  }
  .burger_header::after, .burger_header::before{
    content: '';
  }
  .burger_header::after{
    bottom: 5px;
  }
  .burger_header::before{
    top: 5px;
  }
  .burger_header.open-menu span{
    opacity: 0;
    transition: 0.5s;
  }
  .burger_header.open-menu::before{
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
  }
  .burger_header.open-menu::after{
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
  }
  .main__header{
    height: 60px;
    z-index: 20;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.1);
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
  }
  .main__header .left .menu li a{
    font-size: 2rem;
    padding: 1rem 5rem;
  }

  .main__header .left .menu ul.dropdown{
    display: none;
  }

  .table-striped tr th:nth-child(3),
  .table-striped tr th:nth-child(4),
  .table-striped tr th:nth-child(5),
  .table-striped tr th:nth-child(8),
  .table-striped tr th:nth-child(10),
  .table-striped tr td:nth-child(3),
  .table-striped tr td:nth-child(4),
  .table-striped tr td:nth-child(5),
  .table-striped tr td:nth-child(8),
  .table-striped tr td:nth-child(10){
    display:none;
  }

  .custom-card a{
    font-size: 1.5rem;
    padding: 1rem 0;
  }
 

}

