<div id="income_sources" class="block_insr_fiz p-3 border-top">
    <legend>Источник происхождения денежных средств Страхователя:</legend>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="income_source_work" id="income_source_work" value="1">
        <label for="income_source_work"> от профессиональной деятельности</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="income_source_social" id="income_source_social" value="1">
        <label for="income_source_social"> денежные выплаты социального обеспечения(пенсия, стипендия, пособия)</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="income_source_business" id="income_source_business" value="1">
        <label for="income_source_business"> доход от предпринимательской деятельности</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="income_source_finance" id="income_source_finance" value="1">
        <label for="income_source_finance"> поступления из финансовой системы (подарки, выигрыши, % по вкладам,страховые вознаграждения)</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="income_source_realty" id="income_source_realty" value="1">
        <label for="income_source_realty"> доход от собственности (платежи за использование финансовых активов, зданий, земли, авторских прав, патентов и т.д.)</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="income_source_other" id="income_source_other" value="1" onclick="$('#source_other').css('display',(this.checked?'inline':'none'))">
        <label for="income_source_other"> другие источники, просьба указать
            <span id="source_other" style="display:none;"> &nbsp;
                <input type="text" name="income_descr" id="income_descr" required class="form-control d-inline _w350" maxlength="200"/>
            </span>
        </label>
    </div>
</div>
<div id="income_sources_ul" class="block_insr_ur p-3 border-top" style="display:none">
    <legend>Источник происхождения денежных средств Страхователя ЮЛ:</legend>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="ul_income_source_commerce" id="ul_income_source_commerce" value="1">
        <label for="ul_income_source_commerce"> Выручка от осуществления коммерческой деятельности</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="ul_income_source_loan" id="ul_income_source_loan" value="1">
        <label for="ul_income_source_loan"> Заемные средства</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="ul_income_source_realty" id="ul_income_source_realty" value="1">
        <label for="ul_income_source_realty"> Доход от собственности (платежи за использование финансовых активов, зданий, земли, авторских прав, патентов и др.)</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="ul_income_source_other" id="ul_income_source_other" value="1" onclick="$('#ul_source_other').css('display',(this.checked?'inline':'none'))">
        <label for="ul_income_source_other"> другие источники, просьба указать
            <span id="ul_source_other" style="display:none;"> &nbsp;
                <input type="text" name="ul_income_descr" id="ul_income_descr" required class="form-control w350 d-inline" maxlength="200"/>
            </span>
        </label>
    </div>
</div>
